.blog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: 'Rubik', sans-serif;
  padding: 0px 10px;
}

.blog-header__title {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  color: #333;
  margin-top: 100px;
  margin-bottom: 48px;
}

.blog-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-categories__category {
  border: 1px solid #f93;
  background-color: transparent;
  padding: 9px 30px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ff8000;
  margin: 0px 10px 20px;
  cursor: pointer;
  transition: background-color .15s, color .15s;
}

.blog-categories__category.selected {
  background-color: #f93;
  color: white;
}

.blog-categories__category:not(.selected):hover {
  background-color: rgba(255, 153, 51, .1);
}

/* home page blog card styles */
.blog-post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: center;
  max-width: 1140px;
  margin: 32px auto;
  opacity: 1;
  transition: opacity .15s;
}

.blog-post-list.hidden {
  opacity: 0;
}

.blog-card {
  margin: 15px 10px;
  text-decoration: none;
}

.blog-card:hover, .blog-card:focus {
  text-decoration: none;
}

.blog-card:hover .blog-card__title {
  color: var(--gatsbyColor-primary);
}

.blog-card__image-container {
  overflow: hidden;
  width: 360px;
  height: calc(360px / 1.9); /* calculate the width using the aspect ratio 1.9 */
  border-radius: 4px;
}

.blog-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-card__date {
  margin: 24px 0px 0px;
  font-weight: 500;
  color: #808080;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.blog-card__title {
  color: #222;
  font-size: 21px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  line-height: 28px;
  margin: 8px 0px 16px;
  padding-bottom: 0px;
  border-bottom: 0px;
  letter-spacing: 0px;
}

.blog-card__excerpt {
  color: #222;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Rubik', sans-serif;
  margin: 0px;
}

/* media queries for Mobile device size */
@media screen and (max-width: 480px) {
  .blog-header__title {
    font-size: 35px;
  }

  .blog-post-list {
    grid-template-columns: 300px;
    padding: 0px 10px;
  }

  .blog-card {
    margin: 15px auto;
  }
  
  .blog-card__image-container {
    width: 300px;
    height: calc(300px / 1.9); /* calculate the width using the aspect ratio 1.9 */
  }
}

@media screen and (max-width: 320px) {
  .blog-post-list {
    justify-content: flex-start;
  }
}

/* blog post sign up banner */
.sign-up-banner-content-border {
  padding: 2px;
  width: 680px;
  border-radius: 15px;
  background: linear-gradient(90deg, #FF9933 0%, #CF4B00 100%);
  margin: 32px auto;
}

.blog-post-sign-up-banner {
  width: 100%;
  background: linear-gradient(180deg, #363636 0%, #1A1A1A 51.36%, #171717 100%);
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 24px;
  padding-bottom: 40px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.sign-up-banner-backdrop {
  position: absolute;
  right: 0;
  top: 50%;
  width: 132px;
  height: 241px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.sign-up-banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #ffffff;
  position: relative;
}

.sign-up-banner-content-title {
  color: #ffffff;
  font-family: 'Inter';
  text-decoration: none;
  border-bottom: none;
  padding: 0px;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
}

.sign-up-banner-content-title-highlight {
  color: #FF9933;
}

.sign-up-banner-content-paragraph {
  font-family: 'Inter';
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
}

.sign-up-banner-buttons-container {
  display: flex;
  align-items: center;
}

.sign-up-banner-button-outer-container {
  padding: 4px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
}

.sign-up-banner-buttons-container a {
  height: 48px;
  width: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
}

.sign-up-banner-content-cta {
  background-color: #ffffff;
  color: #191919;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  line-height: 24px;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color .15s;
}

.sign-up-banner-content-cta:hover {
  text-decoration: none;
  background-color: #E6E6E6;
}

.sign-up-banner-top-icon-container {
  height: 57px;
  width: 51px;
  margin-bottom: 18px;
}

.sign-up-banner-top-icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .sign-up-banner-content-border {
    width: 100%;
  }

  .blog-post-sign-up-banner {
    padding-left: 18px;
    padding-right: 18px;
  }

  .sign-up-banner-buttons-container {
    flex-flow: column;
  }

  .sign-up-banner-content-title {
    text-align: center;
  }
}